{{#link-to 'album' album.id}}<div class="col-sm-3 album-tile" style="background-image: url('{{album.artworkUrl}}')">
  <div class="currently-hidden">
    <h4 class="text-center">{{album.title}}</h4>
    <h5 class="text-center">{{album.artist}}</h5>
  </div>
</div>
{{/link-to}}
