<div class="container">
  <h3>About</h3>
  <h5>A website that allows users to review albums and see reviews by other reviews. Also allows the admin to add more albums for users to review. Made with Ember.js</h5>
  <br>
  <h4>About Me</h4>
  <h5>I am an Epicodus student that is making this site to practice using Ember.js services, helpers, and computed properties.</h5>
</div>
